.page-register{
  background-image: url("../img/writting.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: $neutral-0;

  #HeaderComponent, #SessionComponent {
    display: none;
  }
}

#content.register .front {
  background-color: transparent;
  width: 100%;
  left: 0;
  right: 0;

  .front {
    width: 90%;
    background-color: $neutral-0;
    left: 5%;
    right: 5%;
  }

  div {
    background-color: transparent;
    color: $neutral-5;
  }

  .wellcome {
    text-align: center;
    border: 1px solid $neutral-5;
    border-radius: 0px 2rem 2rem;
    margin: 1rem;
    padding: 2rem;
  }

  .email {
    color: $action-1;
    font-weight: bold;
  }

  .profile, .terms {
    padding: 2rem;
  }

  .terms .form {
    td > * {
      background-color: rgba(255, 255, 255, 0.31);
    }
  }

  .profile .form {
    td > * {
      text-align: center;
      padding: 0px;
      margin: 0px;
      padding-top: 1rem;
      margin-bottom: 1rem;
      background-color: rgba(255, 255, 255, 0.31);
    }
  }

  .genre > div {
    div {
      display: inline-block;
      width: 50%;
      cursor: pointer;
    }
    div:hover {
      color: $action-1;
    }
    .active {
      text-decoration: underline;
      font-weight: bold;
    }
  }

  .combodate {
    display: block;
    select {
      min-width: 30%;
      background-color: transparent;
      border: 1px solid transparent;
      text-align: center;
      cursor: pointer;

      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
    }

    select:hover {
      color: $action-1;
    }
  }

  #PicUploadComponent > .header {
    display: none;
  }
}
